.vscode/tasks.json
.vscode/launch.json
.vscode/c_cpp_properties.json
lab5/photo.jpg
lab5/b.c
lab5/a.out
lab6/komentarz.txt
lab7/kod1/join.c
lab7/kod1/hello32.c
lab7/kod1/hello.c
lab7/kod1/hello_arg2.c
lab7/kod1/hello_arg1.c
lab7/kod1/detached.c
lab7/kod1/bug5.c
lab7/kod1/bug3.c
lab7/kod1/bug2fix.c
lab7/kod1/bug2.c
lab7/hello.c
lab7/a.out
lab7/kod1/a.out
